@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h5>Professor: @ViewData["Professor"]</h5>
<h5>Student: @ViewData["Student"]</h5>

<address>
    <strong>More Information at Linkedin: </strong><a target="_blank" href="https://www.linkedin.com/in/gilcimar-tamanini-57750a77">Gilcimar Tamanini</a>
</address>
